name: Build and publish snapshots
on:
  push:
    branches: [ javabuild ]
  pull_request:
    branches: [ javabuild ]

jobs:
  build:
    strategy:
      matrix:
        os: [ windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: javabuild

    - name: Install latest bash on macOS
      if: runner.os == 'macOS'
      run: |
        brew update
        brew install bash
        brew install coreutils

    - name: Set environment variables
      run: |
        echo "OS=${RUNNER_OS,,}" >> $GITHUB_ENV
        echo "ARCH=${RUNNER_ARCH,,}" >> $GITHUB_ENV
        if [[ ${{ runner.os }} == "Linux" ]]
        then
          platform=unix
          classifier=linux-x86_64
        elif [[ ${{ runner.os }} == "macOS" ]]
        then
          platform=mac
          if [[ ${{ runner.arch }} == "X64" ]]
          then
            classifier=darwin-x86_64
          else
            classifier=darwin-aarch64
          fi
        elif [[ ${{ runner.os }} == "Windows" ]]
        then
          platform=windows
          classifier=win-x86_64
        fi
        echo "PLATFORM=$platform" >> $GITHUB_ENV
        echo "CLASSIFIER=$classifier" >> $GITHUB_ENV
      shell: bash

    - name: Download OpenJDK 19
      id: download
      uses: oracle-actions/setup-java@v1
      with:
        website: jdk.java.net
        release: 19
        install: false

    - name: Setup Java and Apache Maven
      uses: actions/setup-java@v3
      with:
        distribution: jdkfile
        jdkFile: ${{ steps.download.outputs.archive }}
        java-version: ${{ steps.download.outputs.version }}
        server-id: gluon-nexus
        server-username: MAVEN_USERNAME
        server-password: MAVEN_CENTRAL_TOKEN

    - name: Checkout tools repo
      run: |
        echo "print env variables"
        echo ${{ env.OS }}
        echo ${{ env.ARCH }}
        echo ${{ env.PLATFORM }}
        echo ${{ env.CLASSIFIER }}
        cd $GITHUB_WORKSPACE
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
        if [[ ${{ runner.os }} == "Windows" ]]
        then
          dir "${{ github.workspace }}\depot_tools\gclient.*"
        fi
      shell: bash

    - name: Install rustup (Windows)
      if: runner.os == 'Windows'
      run: |
        $ProgressPreference = "SilentlyContinue"
        Invoke-WebRequest https://win.rustup.rs/ -OutFile rustup-init.exe
        .\rustup-init.exe -y --default-host=x86_64-pc-windows-msvc --profile=minimal
        del rustup-init.exe
      shell: powershell
    - name: Install rustup (macOS/Linux)
      if: runner.os != 'Windows'
      run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

    - name: Download and extract JEXTRACT (Windows)
      if: runner.os == 'Windows'
      run: |
        $ProgressPreference = "SilentlyContinue"
        Invoke-WebRequest https://download.java.net/java/early_access/jextract/2/openjdk-19-jextract+2-3_${{ env.OS }}-${{ env.ARCH }}_bin.tar.gz -OutFile jextract.tar.gz
        tar -xvzf jextract.tar.gz -C $env:GITHUB_WORKSPACE
        del jextract.tar.gz
      shell: powershell
    - name: Download and extract JEXTRACT (macOS/Linux)
      if: runner.os != 'Windows'
      run: |
        download_url="https://download.java.net/java/early_access/jextract/2/openjdk-19-jextract+2-3_${{ env.OS }}-${{ env.ARCH }}_bin.tar.gz"
        wget -q --show-progress -O $RUNNER_TEMP/jextract.tar.gz $download_url
        tar -xzf $RUNNER_TEMP/jextract.tar.gz -C $GITHUB_WORKSPACE

    - name: Install make (Windows)
      if: runner.os == 'Windows'
      run: |
        $ProgressPreference = "SilentlyContinue"
        mkdir make
        Invoke-WebRequest https://altushost-swe.dl.sourceforge.net/project/gnuwin32/make/3.81/make-3.81-bin.zip -OutFile make\make.zip
        7z x make\make.zip
        del make\make.zip
      shell: powershell

    - name: Install python (Windows)
      if: runner.os == 'Windows'
      run: |
        $ProgressPreference = "SilentlyContinue"
        mkdir python27
        Invoke-WebRequest https://www.python.org/ftp/python/2.7.18/python-2.7.18.amd64.msi -OutFile python27\python.msi
        msiexec.exe /i python27\python.msi /quiet
        del python27\python.msi
      shell: powershell

    - name: Build (Windows)
      if: runner.os == 'Windows'
      run: |
        $env:DEPOT_TOOLS_WIN_TOOLCHAIN = 0
        $env:PATH = $env:GITHUB_WORKSPACE + "\depot_tools\;" + $env:GITHUB_WORKSPACE + "\make\bin\;" + $env:PATH
        echo $env:PATH
        make java PLATFORM=${{ env.PLATFORM }} JEXTRACT=$env:GITHUB_WORKSPACE\jextract-19 JDK=$env:JAVA_HOME TARGET_ARCH=${{ env.ARCH }}
      shell: powershell
    - name: Build (macOS/Linux)
      if: runner.os != 'Windows'
      run: |
        export DEPOT_TOOLS_WIN_TOOLCHAIN=0
        export PATH=$GITHUB_WORKSPACE/depot_tools/:$PATH
        make java PLATFORM=${{ env.PLATFORM }} JEXTRACT=$GITHUB_WORKSPACE/jextract-19 JDK=$JAVA_HOME TARGET_ARCH=${{ env.ARCH }} MACOS_SDK_VERSION=12.1

    - name: Deploy snapshot
      run: |
        cd src/java/tring
        mvn -Dclassifier=${{ env.CLASSIFIER }} deploy
      env:
        MAVEN_USERNAME: ${{ secrets.GLUON_NEXUS_USERNAME }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.GLUON_NEXUS_PASSWORD }}